---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";
import ProfilePicture from "../../assets/images/profilbild.png";
import StockWeb from "../../assets/images/stock_web.webp";
import StockApp from "../../assets/images/stock_app.webp";
import StockServer from "../../assets/images/server.webp";
import { PROJECTS } from "../../data/projects";
import HtmlIcon from "../../assets/techicons/htmlicon.png";
import ExpoIcon from "../../assets/techicons/expo-light.png";
import FlutterIcon from "../../assets/techicons/flutter.png";
import CssIcon from "../../assets/techicons/css.png";
import JsIcon from "../../assets/techicons/js.png";
import ReactIcon from "../../assets/techicons/react.png";
import VueIcon from "../../assets/techicons/vue.png";
import TailwindIcon from "../../assets/techicons/tailwind.png";
import AngularIcon from "../../assets/techicons/angular.png";
import BootstrapIcon from "../../assets/techicons/bootstrap.png";
import StrapiIcon from "../../assets/techicons/strapi.png";
import JqueryIcon from "../../assets/techicons/jquery.png";
import NextIcon from "../../assets/techicons/next.png";
import AstroIcon from "../../assets/techicons/astro.png";
import FirebaseIcon from "../../assets/techicons/firebase.png";
import MongoIcon from "../../assets/techicons/mongo.png";
import TrpcIcon from "../../assets/techicons/trpc.png";
import IonicIcon from "../../assets/techicons/ionic.png";
import SqlIcon from "../../assets/techicons/sql.png";
import GraphqlIcon from "../../assets/techicons/graphql.png";
import NodeIcon from "../../assets/techicons/node.png";
import ExpressIcon from "../../assets/techicons/express.png";
import TechCircle from "../../components/TechCircle.astro";
import { Trans } from "astro-i18next/components";
import { t, changeLanguage } from "i18next";

changeLanguage("en");

export const prerender = true;
---

<Layout>
  <main>
    <div class="flex h-80 items-center border-b bg-slate-100 dark:border-b-neutral-700 dark:bg-neutral-800 sm:h-96 sm:px-4 lg:px-0">
      <div class="mx-auto flex w-full max-w-6xl flex-row items-center justify-between space-x-12">
        <div class="w-full px-2 sm:px-0">
          <h1 class="w-full text-center text-4xl font-extrabold sm:max-w-xl sm:text-left sm:text-5xl">
            <Trans i18nKey="home.title">
              <div class="flex justify-center text-center text-blue-800 dark:text-blue-400 sm:justify-normal sm:text-left"></div>
            </Trans>
          </h1>

          <a href="/contact" class="mt-8 inline-flex h-12 w-full items-center justify-center rounded-md bg-slate-900 px-5 py-2.5 font-medium text-white transition-colors hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:bg-white dark:text-black dark:hover:bg-neutral-300 sm:w-auto">{t("home.action-btn")}</a>
        </div>
        <div class="hidden sm:block">
          <Image loading="eager" class="w-64 rounded-md" width={800} src={ProfilePicture} alt="Profilbild von Niclas Jost" />
        </div>
      </div>
    </div>

    <div>
      <div class="mx-auto mt-5 flex h-full w-full flex-col items-center justify-between px-0 sm:my-20 sm:max-w-6xl sm:flex-row sm:px-4 lg:px-0">
        <div class="flex h-full flex-col justify-center px-2 sm:px-0">
          <h1 class="text-2xl font-extrabold sm:text-4xl">{t("home.frontend.title")}</h1>
          <p class="my-2 max-w-xl opacity-80 sm:my-4">{t("home.frontend.content")}</p>

          <div class="max-w-xl flex-wrap gap-2 space-y-2 sm:flex sm:space-y-0">
            <TechCircle name="HTML" img={HtmlIcon} />
            <TechCircle name="CSS" img={CssIcon} />
            <TechCircle name="JavaScript" img={JsIcon} />
            <TechCircle name="jQuery" img={JqueryIcon} />
            <TechCircle name="React" img={ReactIcon} />
            <TechCircle name="Vue" img={VueIcon} />
            <TechCircle name="Angular" img={AngularIcon} />
            <TechCircle name="Tailwind" img={TailwindIcon} />
            <TechCircle name="Bootstrap" img={BootstrapIcon} />
            <TechCircle name="Next.js" img={NextIcon} />
            <TechCircle name="Astro" img={AstroIcon} />
          </div>
        </div>

        <div class="mt-4 hidden h-full items-center sm:mt-0 sm:flex">
          <Image loading="eager" class="mb-2 sm:rounded-md" width={500} src={StockWeb} alt={"Webtechnologie Stock Image"} />
        </div>
      </div>

      <div class="mx-auto mt-5 flex h-full max-w-6xl flex-col items-center justify-between px-0 sm:my-20 sm:flex-row-reverse sm:px-4 lg:px-0">
        <div class="flex h-full flex-col justify-center px-2 lg:px-0">
          <h1 class="text-xl font-extrabold sm:text-4xl">{t("home.mobile.title")}</h1>
          <p class="my-2 max-w-xl opacity-80 sm:my-4">{t("home.mobile.content")}</p>

          <div class="max-w-xl flex-wrap gap-2 space-y-2 sm:flex sm:space-y-0">
            <TechCircle name="Flutter" img={FlutterIcon} />
            <TechCircle name="React Native" img={ReactIcon} />
            <TechCircle name="Expo" img={ExpoIcon} />
            <TechCircle name="Ionic" img={IonicIcon} />
            <TechCircle name="Firebase" img={FirebaseIcon} />
          </div>
        </div>

        <div class="hidden h-full items-center sm:flex">
          <Image class="mb-2 rounded-md" width={500} src={StockApp} alt={"Mobile App Stock Image"} />
        </div>
      </div>

      <div class="mx-auto my-5 flex h-full max-w-6xl flex-col items-center justify-between px-0 sm:my-20 sm:flex-row sm:px-4 lg:px-0">
        <div class="flex h-full flex-col justify-center px-2 sm:px-0">
          <h1 class="text-xl font-extrabold sm:text-4xl">{t("home.backend.title")}</h1>
          <p class="my-2 max-w-xl opacity-80 sm:my-4">{t("home.backend.content")}</p>

          <div class="max-w-xl flex-wrap gap-2 space-y-2 sm:flex sm:space-y-0">
            <TechCircle name="Node.js" img={NodeIcon} />
            <TechCircle name="Express" img={ExpressIcon} />
            <TechCircle name="Strapi" img={StrapiIcon} />
            <TechCircle name="SQL" img={SqlIcon} />
            <TechCircle name="GraphQL" img={GraphqlIcon} />
            <TechCircle name="tRPC" img={TrpcIcon} />
            <TechCircle name="MongoDB" img={MongoIcon} />
          </div>
        </div>

        <div class="hidden h-full items-center sm:flex">
          <Image class="mb-2 rounded-md" width={500} src={StockServer} alt={"Code Editor Stock Image"} />
        </div>
      </div>
    </div>

    <div class="border-y bg-slate-100 px-2 py-8 dark:border-y-neutral-700 dark:bg-neutral-800 sm:px-4 lg:px-0">
      <div class="mx-auto flex h-full max-w-6xl flex-col justify-between sm:flex-row">
        <div class="flex h-full flex-col">
          <h2 class="text-4xl font-extrabold">{t("home.aboutme.title")}</h2>

          <Trans i18nKey="home.aboutme.content">
            <p class="mt-2 max-w-xl opacity-80 sm:mt-4"></p>
            <p class="my-4 max-w-xl opacity-80"></p>
          </Trans>
        </div>

        <div class="flex justify-between">
          <div class="sm:pt-10">
            <div class="flex w-full flex-col space-y-8">
              <div class="flex flex-col justify-center">
                <div class="text-sm font-semibold uppercase text-blue-800 dark:text-blue-400">{t("home.experience")}</div>
                <div>{t("home.experience-value")}</div>
              </div>

              <div class="flex flex-col justify-center">
                <div class="text-sm font-semibold uppercase text-blue-800 dark:text-blue-400">FREELANCER</div>
                <div>{t("home.freelancer-value")}</div>
              </div>

              <div class="flex flex-col justify-center">
                <div class="text-sm font-semibold uppercase text-blue-800 dark:text-blue-400">SPRACHEN</div>
                <div>{t("home.language-german")}, {t("home.language-english")}</div>
              </div>
            </div>
          </div>
          <Image class="w-40 rounded-md sm:hidden" width={400} src={ProfilePicture} alt="Profilbild von Niclas Jost" />
        </div>
      </div>
    </div>

    <div class="px-2 py-8 sm:px-4 lg:px-0">
      <div class="mx-auto flex max-w-6xl flex-col">
        <h2 id="projects" class="text-4xl font-extrabold">{t("home.projects.title")}</h2>

        <div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-8">
          <div class="col-span-1 flex flex-row justify-between rounded-lg border border-slate-200 bg-slate-100 px-4 pb-4 dark:border-neutral-700 dark:bg-neutral-800 sm:col-span-2">
            <div class="flex flex-col justify-end">
              <div class="mt-4">{t("home.projects.rewe.title")}</div>
              <p class="text-sm opacity-80">{t("home.projects.rewe.content")}</p>
            </div>

            <div class="flex w-full justify-end overflow-hidden">
              <Image width={200} src={PROJECTS.REWE.image} alt={PROJECTS.REWE.name + " Logo"} class="mt-4 rounded-sm" />
            </div>
          </div>

          <div class="col-span-1 flex flex-col rounded-lg border border-slate-200 bg-slate-100 px-4 pb-4 dark:border-neutral-700 dark:bg-neutral-800">
            <div class="h-40 w-full overflow-hidden">
              <Image height={400} width={300} src={PROJECTS.WHIZZPER.image} alt={PROJECTS.WHIZZPER.name + " Logo"} class="mx-auto mt-4 rounded-md" />
            </div>
            <div class="mt-4">{t("home.projects.whizzper.title")}</div>
            <p class="text-sm opacity-80">{t("home.projects.whizzper.content")}</p>
          </div>

          <div class="col-span-1 flex flex-col rounded-lg border border-slate-200 bg-slate-100 px-4 pb-4 dark:border-neutral-700 dark:bg-neutral-800">
            <div class="h-40 w-full overflow-hidden">
              <Image height={150} width={150} src={PROJECTS.PRIMAL.image} alt={PROJECTS.PRIMAL.name + " Logo"} class="mx-auto mt-4 rounded-sm" />
            </div>
            <div class="mt-4">{t("home.projects.primalfm.title")}</div>
            <p class="text-sm opacity-80">{t("home.projects.primalfm.content")}</p>
          </div>

          <div class="col-span-1 flex flex-col rounded-lg border border-slate-200 bg-slate-100 px-4 pb-4 dark:border-neutral-700 dark:bg-neutral-800">
            <div class="w-full overflow-hidden">
              <Image height={300} width={300} src={PROJECTS.MWAY.image} alt={PROJECTS.MWAY.name + " Logo"} class="mx-auto mt-4 rounded-sm" />
            </div>
            <div class="mt-4">{t("home.projects.mway.title")}</div>
            <p class="text-sm opacity-80">{t("home.projects.mway.description")}</p>
          </div>

          <div class="col-span-1 flex flex-col rounded-lg border border-slate-200 bg-slate-100 px-4 pb-4 dark:border-neutral-700 dark:bg-neutral-800">
            <div class="w-full overflow-hidden">
              <Image height={300} width={300} src={PROJECTS.VERMIETERLUPE.image} alt={PROJECTS.VERMIETERLUPE.name + " Logo"} class="mx-auto mt-4 rounded-sm" />
            </div>
            <div class="mt-4">{t("home.projects.vermieterlupe.title")}</div>
            <p class="text-sm opacity-80">{t("home.projects.vermieterlupe.content")}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
