---
import { Image } from "astro:assets";
import type { Project } from "../types/project.types";

export interface Props {
  project: Project;
  imageWidth?: number;
  imageHeight?: number;
}

const { project } = Astro.props;
const width = Astro.props.imageWidth || 400;
const height = Astro.props.imageHeight || 400;
---

<div class={project.colorClass + " border w-full rounded-lg col-span-1 p-6 animate-in slide-in-from-bottom-12 fade-in duration-500"}>
  <h2 class="text-xl font-semibold">
    {
      project.url ? (
        <a href={project.url} target="_blank" class="hover:underline">
          {project.name}
        </a>
      ) : (
        project.name
      )
    }
  </h2>

  <p class="mt-2">{project.description}</p>

  <Image width={width} height={height} src={project.image} alt={project.name + " Logo"} class="mt-4 mx-auto rounded-md" />

  <p class="text-neutral-600 text-sm">{project.technologies.join(" · ")}</p>
</div>
